.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .brand-logo {
  position: static;
  transform: translate(0);
}

.header .favorites {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .header .favorites {
    margin-left: auto;
  }
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select .caret {
  fill: #fff;
}

.header .brand-logo {
  font-size: 1.5rem;
}

.favorites .dropdown-content {
  width: max-content !important;
  color: #000;
}

.favorite-item {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #6a1b9a;
}

@media screen and (max-width: 768px) {
  .favorite-item {
    flex-direction: column;
  }
}

.favorites .favorite-item-airline-img {
  max-width: 100px;
  margin-right: 10px;
}

.favorites .favorite-item-info {
  flex-grow: 1;
  padding: 10px;
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-info .material-icons {
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-destination {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
}

.favorites .ticket-price {
  font-size: 18px;
  font-weight: bold;
}

.favorites .ticket-additional-info {
  font-size: 12px;
}

.favorites .ticket-time-departure {
  font-size: 14px;
  margin-right: 10px;
}

.favorites .delete-favorite {
  margin-top: 10px;
}

.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.ticket-card .add-favorite {
  margin-top: 10px;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

.card.ticket-card.like {
  background-color: darksalmon !important;
  pointer-events: none;
  cursor: not-allowed;
}

.dropdown-trigger {
  position: relative;
}

.dropdown-trigger[data-count]:before {
  content: attr(data-count);
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #000;
  background-color: burlywood;
  border-radius: 50%;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 20;
  display: none;
}

.preloader.active {
  display: block;
}

.preloader-wrapper {
  z-index: 21;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
